<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <mat-toolbar color="primary">
      <div class="title">HSLU CPLAB Image Categorizer</div>
      <div class="sign-out">
        <button mat-flat-button color="Primary" (click)="signOut()">
          Sign Out
        </button>
      </div>
    </mat-toolbar>

    <mat-drawer-container>
      <mat-drawer mode="side" opened>
        <mat-nav-list>
          <a mat-list-item (click)="navigate('image-upload')">
            <div class="nav-item">
              <mat-icon>cloud_upload</mat-icon>
              <span>Image Upload</span>
            </div>
          </a>
          <a mat-list-item (click)="navigate('statistics')">
            <div class="nav-item">
              <mat-icon>bar_chart</mat-icon>
              <span>Statistics</span>
            </div>
          </a>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </ng-template>
</amplify-authenticator>
